# ML01 : TD5 - Performance d'un modèle et Validation-Croisée

Réalisé par Cyprien Gilet et Khaled Belahcene

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
import scipy.stats as stats

from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsClassifier

# 1. Implémentation fonctions d'évaluation des performances d'un classifieur

**Question 1.** Dans le fichier *functions.ipynb*, implémenter les différentes fonctions permettant d'évaluer la performance d'un classifieur $\delta\in\Delta$ :
- Risques d'erreur empirique par classe $\hat{R}_k(\delta)$ en fonction d'une fonction de perte $L$ quelconque.
- Risque d'erreur empirique moyen $\hat{r}(\delta)$ en fonction d'une fonction de perte $L$ quelconque.
- Accuracy moyenne $\mathrm{Acc}(\delta)$.
- Accuraces par classe $\mathrm{Acc}_k(\delta)$.
- Matrice de confusion $C(\delta)$.

Le code ci-dessous permet d'importer ces fonctions dans ce Notebook présent.

In [2]:
run functions.ipynb

# 2. Validation croisée KNN sur base de données Diabete_UCI

Dans cette section nous souhaitons appentre le classifieur KNN à partir d'une validation croisée sur la base de données Diabete UCI. Nous considèrerons la fonction de perte $L_{0\text{-}1}$.

Les cellules suivantes permettent d'importer la base de données.

In [3]:
df = pd.read_csv('Datasets/diabetes_UCI.csv')
print(df.columns.values)
print('df =', df)
print('df_Info =', df.info())

df = df.reset_index()
df.drop(['index'], axis='columns', inplace=True)

['Pregnancies' 'Glucose' 'BloodPressure' 'SkinThickness' 'Insulin' 'BMI'
 'DiabetesPedigreeFunction' 'Age' 'Outcome']
df =      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
df_Info = None

In [4]:

YRdf = pd.DataFrame(df['Outcome'])
print('np.unique(YRdf) =', np.unique(YRdf))
YR = np.array(YRdf).ravel()+1
print('np.unique(YR) =', np.unique(YR))

Xdf = df.copy()
Xdf.drop(['Outcome'], axis='columns', inplace=True)
#Xdf.info()

K = int(np.max(YR))
X = np.array(Xdf)

np.unique(YRdf) = [0 1]
np.unique(YR) = [1 2]

**Question 2.1.** Implémenter la fonction de perte $L_{0\text{-}1}$.

In [5]:
# RÉPONSE À LA QUESTION 2.1:

**Question 2.2.** Créer une procédure de validation croisée permettant selectionner le nombre de voisins optimal de sorte à ce que l'on obtenienne une erreur de généralisation satisfaisante. On pourra s'inspirer de la structure suivante : 

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html

In [6]:
# RÉPONSE À LA QUESTION 2.2:
np.random.seed(407)

# 2. Validation croisée sur base de données Abalones

**Question 2.** Comparer à partir d'une validation croisée sur la base de données Abalones les classifieurs LDA, QDA, Naïve Bayes, en considérant la fonction de perte quadratique. Les cellules suivantes permettent d'importer la base de données.

In [7]:
### Load data
from scipy.io import loadmat
data = loadmat('Datasets/abalone_data.mat')
data.keys()

K = int(data['K'][0][0])
print('K =', K)
Xdf = pd.DataFrame(data['X'])
YRdf = pd.DataFrame(data['YR'], columns = ['Labels'])

K = 5

In [8]:
Xdf

        0      1      2      3       4       5       6       7
0     3.0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.1500
1     3.0  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700
2     1.0  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100
3     3.0  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550
4     2.0  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550
...   ...    ...    ...    ...     ...     ...     ...     ...
4172  1.0  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490
4173  3.0  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605
4174  3.0  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080
4175  1.0  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960
4176  3.0  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950

[4177 rows x 8 columns]

In [9]:
YRdf

      Labels
0          3
1          2
2          2
3          2
4          2
...      ...
4172       3
4173       2
4174       2
4175       2
4176       3

[4177 rows x 1 columns]

In [10]:
# FONCTION DE PERTE QUADRATIQUE:

In [11]:
# RÉPONSE À LA QUESTION 2:
np.random.seed(407)